:root {
    --pixel-size: .70;
    --jump-pixel-size: 1;
    --pixel-size2: .30;
    --pixel-size3: 1;
}

body {
    background: white;
    position: relative;
    font-family: "Arial", Helvetica, sans-serif;
}

/*Non Interactive windows*/
/*height 610 px*/
/*width 525 px*/
.window1 {
    float: left;
}

/*key pressed animations*/
.border1 {
    background-color: black;
    margin: 5px;
}

.canvas1 {
    /*height 275px
    width 525px*/
    /* display:none; */
    background-color: white;
    width: 475px;
    height: 225px;
    margin: 25px;
}

/*Animated text window*/
.border2 {
    background-color: black;
    margin: 5px;
}

.canvas2 {
    /*height 275px
    width 525px*/
    background-color: white;
    width: 475px;
    height: 225px;
    margin: 25px;
}

/*Game window*/
.window2 {
    float: right;
    z-index: 1;
}

.border3 {
    background-color: black;
    width: 900px;
    height: 600px;
    margin: 5px;
}

.canvas3 {
    background-color: white;
}

.window3 {
    z-index: 6;
    top: 580px;
    position: absolute;
}

.border4 {
    background-color: black;
    margin: 5px;
}

.canvas4 {
    background-color: white;
    margin: 25px;
}

.keyframeSprites {
    position: absolute;
    left: 720px;
    top: 120px;
    z-index: 3;
}

.portal_sprite {
    position: absolute;
    left: 1380px;
    top: 150px;
    z-index: 2;
    /* display: none; */
}

.life_counter {
    position: absolute;
    left: 1350px;
    top: 510px;
    z-index: 4;
}

.scoreboard {
    position: absolute;
    left: 610px;
    top: 510px;
    z-index: 4;
}

.boxes {
    position: absolute;
    z-index: 3;
}

.box_sprite_container {
    position: relative;
}

.box_sprite {
    position: relative;
    left: 800px;
    top: 280px;
}

.sprite_hb {
    position: absolute;
    z-index: 3;
}

.sprite_hb_test {
    position: relative;
}

.s_hb {
    position: relative;
}

.box_hb {
    position: absolute;
    z-index: 3;
}

.box_hb_test {
    position: relative;
}

.b_hb {
    position: relative;
}

/* 
.score_text{

}

.life_counter_1 {
    position: absolute;
    left: 1400px;
    top: 280px;
    z-index: 3; 
}

.life_counter_2 {
     position: absolute;
    left: 1400px;
    top: 280px;
    z-index: 3; 
}

.life_counter_3 {
    position: absolute;
    left: 1400px;
    top: 280px;
    z-index: 3;
}
*/

.platform_sprite_1 {
    position: absolute;
    left: 700px;
    top: 400px;
    z-index: 2;
    /* display: none; */
}

.platform_sprite_2 {
    position: absolute;
    left: 700px;
    top: 300px;
    z-index: 2;
    /* display: none; */
}

.platform_sprite_3 {
    position: absolute;
    left: 700px;
    top: 200px;
    z-index: 2;
    /* display: none; */
}

/* .Left_animation{
} */

/*Spritesheets*/
.Character_jumping {
    width: calc(573px / 7 * var(--jump-pixel-size));
    height: 162px;
    left: 25px;
    bottom: 40px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: none;
    /* background: red; */
}

.Character_jumping_spritesheet {
    animation: moveSpritesheet2 1s steps(7) infinite;
    width: calc(700px * var(--jump-pixel-size));
    position: absolute;
}

.Character {
    /* select on frame on sprite sheet (coordinates start from top left to bottom right) */
    width: calc(860px / 5 * var(--pixel-size));
    /* to make each sprite the same size i have to measure and move each sprite into blocks whose size is the same as 
    the biggest sprite on the sheet */
    height: calc(256px / 2 * var(--pixel-size));
    /* removes rest of spritesheet to show one image at a time */
    overflow: hidden;
    position: relative;
    /* highlights first sprite (remove the whitespace from the png image using software or hide image source to see shape of first sprite) */
    /* background: red;*/
    margin: 0 auto;
}

.Character_spritesheet {
    animation: moveSpritesheet1 1s steps(5) infinite;
    width: calc(860px * var(--pixel-size));
    position: absolute;
}

.pixelart {
    image-rendering: pixelated;
}

.Character_spritesheet_row_two {
    top: calc(-132px * var(--pixel-size));
    display: none;
}

.Attack_animation {
    position: relative;
    /*placeholder*/
    bottom: 10px;
    display: none;
}

.Character_chargeShot {
    width: calc(319px * var(--pixel-size2));
    height: calc(340px * var(--pixel-size2));
    position: relative;
    left: 25px;
    top: 0px;
    margin: 0 auto;
    z-index: 2;
    float: left;
}

.Character_chargeShot_spritesheet {
    width: calc(319px * var(--pixel-size2));
    position: absolute;
}

.Character_chargeBeam {
    width: calc(1776px / 4 * var(--pixel-size3));
    height: 157px;
    overflow: hidden;
    position: relative;
    left: 25px;
    top: -40px;
    margin: 0 auto;
    z-index: 2;
    float: right;
}

.Character_chargeBeam_spritesheet {
    animation: moveSpritesheet3 0.5s steps(4) infinite;
    width: calc(1776px * var(--pixel-size3));
    position: absolute;
}

.canvas3 {
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 850px;
    height: 550px;
    margin: 25px;
}

.portal_sprite {
    /* width: 90%;
    height: 90%; */
    position: absolute;
}

.platform_sprite_1 {
    width: 300px;
    height: 50px;
    position: absolute;
}

.platform_sprite_2 {
    width: 300px;
    height: 50px;
    position: absolute;
}

.platform_sprite_3 {
    width: 300px;
    height: 50px;
    position: absolute;
}

@keyframes moveSpritesheet1 {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes moveSpritesheet2 {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

@keyframes moveSpritesheet3 {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

/* game over css */
.game_over_window {
    position: absolute;
    display: none;
    z-index: 5;
}

.game_over_window_border {
    background-color: blue;
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 5px;
    z-index: 5;
}

.text_window {
    position: absolute;
    background-color: white;
    width: 750px;
    height: 250px;
    margin: 25px;
    z-index: 5;
}

.text_1 {
    position: relative;
    left: 50px;
    top: 85px;
}

.game_over_text_1 {
    position: relative;
    z-index: 5;
    margin: 10px;
    width: 24px;
    font-size: 40px;
}

.text_2 {
    position: relative;
    left: 250px;
    top: 29px;
}

.game_over_text_2 {
    position: relative;
    z-index: 5;
    margin: 10px;
    width: 24px;
    font-size: 40px;
}

.text_3 {
    position: relative;
    left: 450px;
    top: -28px;
}

.game_over_text_3 {
    position: relative;
    z-index: 5;
    margin: 10px;
    width: 24px;
    font-size: 40px;
}

.up_arrow_container {
    position: relative;
    left: 600px;
    top: -125px;
}

.up_arrow {
    position: relative;
    z-index: 5;
}

.down_arrow_container {
    position: relative;
    left: 600px;
    top: -125px;
}

.down_arrow {
    position: relative;
    z-index: 5;

}